@font-face {
  font-family: rainyhearts;
  src: url(../font/rainyhearts.ttf);
}
body {
  font-family: rainyhearts;
  font-size: 16px;
  background: url(../img/bg.png) center center;
}
button {
  background: transparent;
  border: 2px solid rgba(255,255,255,1);
  color: rgba(255,255,255,1);
}
button:disabled {
  background: transparent;
  border: 2px solid rgba(255,255,255,.25);
  color: rgba(255,255,255,.25);
}
.gamewrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 768px;
  height: 326px;
  background: rgba(0,0,0,.5);
}
.home, .store, .gifts {
  width: 512px;
  height: 256px;
}
.home {
  background: url(../img/default-wall.png) top left;
}
.window {
  position: absolute;
  margin-top: 32px;
  margin-left: 32px;
  width: 128px;
  height: 128px;
  border: 4px solid #000;
}
.clock {
  position: absolute;
  margin-top: 64px;
  margin-left: 356px;
  padding: 0px 4px;
  background: #000;
  border: 4px solid #444;
}
.bed {
  position: absolute;
  margin-top: 172px;
  margin-left: 0px;
  width: 164px;
  height: 84px;
  background: url(../img/bed.png);
}
.catgirl {
  position: absolute;
  margin-top: 92px;
  margin-left: 256px;
  width: 84px;
  height: 164px;
  background: url(../img/girl-base.png);
}
