body {
  font-family: 'VT323', monospace;
  background: url(../img/bg.png) center center;
}
.gamewrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 768px;
  height: 512px;
  background: rgba(0,0,0,.5);
}
.room {
  display: flex;
  width: 704px;
  height: 384px;
  background: url(../img/default-wall.png) top left;
}
.window {
  position: absolute;
  margin-top: 32px;
  margin-left: 32px;
  width: 128px;
  height: 128px;
  border: 4px solid #000;
  background: url(../img/outside-day.gif);
}
.clock {
  position: absolute;
  margin-top: 64px;
  margin-left: 512px;
  padding: 0px 4px;
  font-size: 24px;
  background: #000;
  border: 4px solid #00baff;
}
.catgirl {
  position: absolute;
  margin-top: 44px;
  margin-left: 256px;
  width: 130px;
  height: 340px;
  background: url(../img/girl-base.png);
}
.darkshade {
  width: 50%;
  height: 100%;
  background: rgba(0,0,0,.1);
}
.lightshade {
  width: 50%;
  height: 100%;
  background: rgba(128,128,128,.1);
}
